<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pokfulamroad.admintemplate.business.mapper.PatientRegistrationMapper">


    <sql id="Base_Query_SQL">
        select
            di.id as doctorId,
            a.*, pr.real_name,pr.id_card_no, di.name as doctor_name, din.name as department_name
        from patient_registration a
        inner join patient_resume pr on a.resume_id = pr.id
        inner join doctor_info di on a.doctor_id = di.id
        left  join department_info din on di.department_id = din.id

        <where>
            <if test="request.id != null and request.id != ''">
                and pr.user_id = #{request.id}
            </if>
        </where>
    </sql>

    <select id="selectPatientRegistrationPage"
            resultType="com.pokfulamroad.admintemplate.business.entity.PatientRegistrationDto">
        <include refid="Base_Query_SQL"/>
        order by a.create_time desc
    </select>
    <select id="selectPatientRegistrationList"
            resultType="com.pokfulamroad.admintemplate.business.entity.PatientRegistrationDto">
        <include refid="Base_Query_SQL"/>
        order by a.create_time desc
    </select>
</mapper>
