<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pokfulamroad.admintemplate.common.mapper.PostMapper">


    <select id="selectPostPage" resultType="com.pokfulamroad.admintemplate.common.entity.PostDto">
        select p.*, di.name as docName,di.avatar, li.name as hosName
        from post p left join medical.doctor_info di on p.user_id = di.id
        left join hospital_info li on di.hos_id = li.id
        <where>
            <if test="request.userId != null and request.userId != '' ">
                and p.user_id = #{request.userId}
            </if>
            <if test="request.title != null and request.title != ''">
                and p.title like concat('%',#{request.title},'%')
            </if>
        </where>
        order by p.create_time desc
    </select>
    <select id="selectPostList" resultType="com.pokfulamroad.admintemplate.common.entity.PostDto">
        select *
        from post
    </select>
</mapper>
